@import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade, night, coffee, winter, dim, nord, sunset;
}

@layer base {
  h1 {
    font-size: 2.25rem;
    /* text-4xl */
    line-height: 2.5rem;
    font-weight: 700;
    /* font-bold */
  }

  h2 {
    font-size: 1.875rem;
    /* text-3xl */
    line-height: 2.25rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.5rem;
    /* text-2xl */
    line-height: 2rem;
    font-weight: 600;
    /* font-semibold */
  }

  h4 {
    font-size: 1.25rem;
    /* text-xl */
    line-height: 1.75rem;
    font-weight: 600;
  }

  h5 {
    font-size: 1.125rem;
    /* text-lg */
    line-height: 1.75rem;
    font-weight: 600;
  }

  h6 {
    font-size: 1rem;
    /* text-base */
    line-height: 1.5rem;
    font-weight: 600;
  }
}

body {
  overflow-y: scroll;
}

.prose {
  max-width: auto !important;
}

.animate-fade-in-up {
  animation: fade-in-up 0.6s ease-out forwards;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}